/* styles.css */

/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #fafafa;
}

header, footer {
    background-color: #313131;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

main {
    padding: 1rem;
}

section {
    margin-bottom: 1rem;
}
ul {
    padding: 7px;
}
li {
    text-align: left;
    font-size: large;
}
li span {
    color: rgb(255, 0, 0);
    font-weight: bold;    
}

a {
    color: inherit;  
    text-decoration: dashed;  
}
/* Layout Responsivo */
@media (min-width: 600px) {
    main {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    section {
        width: 50%;
    }
}

@media (max-width: 599px) {
    section {
        width: 100%;
    }
}
